# Скомпільовані CSS файли (якщо не хочеш їх зберігати)
css/*.css
css/*.css.map

# Системні файли macOS
.DS_Store

# Системні файли Windows
Thumbs.db

# Локальні налаштування редакторів (якщо є)
.idea/
.vscode/
