@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.hero-section{
  position: relative;
  //container-type: inline-size; // включаємо container queries
  //min-height: to-rem(600);

  //border-bottom: 1px solid blue;
  //border-left: 1px solid blue;
  //border-right: 1px solid blue;

  margin-bottom: 100px;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1680px) 1fr;
  padding-inline: 20px;
}

.hero-section > * {
  grid-column: 2;
}