@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;


//.hero-content__triangle {
//  position: absolute;
//  top: -180px;
//  right: -300px;
//  width: clamp(300px, 68.33vw, 1312px);  // адаптивно, плавно
//  aspect-ratio: 1 / 1; // зберігає пропорції
//  //max-width: to_rem(1312);
//  //max-height: to_rem(1312);
//  height: auto;
//  z-index: 10; // якщо потрібно відправити назад
//}
//
//.hero-content__triangle img {
//  display: block;
//  width: 100%;
//  height: auto;
//}

.hero-content__triangle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: clamp(200px, 68.33vw, 1000px); // ✅ адаптивна ширина
  height: 100%; // завжди по висоті секції
  z-index: 10;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }
}