@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;


.hero-content__triangle {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: to_rem(1312);
  max-height: to_rem(1312);
  width: 100%;
  height: auto;
  z-index: 10; // якщо потрібно відправити назад
}

.hero-content__triangle img {
  display: block;
  width: 100%;
  height: auto;
}