@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.info-header__description {
  font-size: to-rem(50);
  line-height: 130%;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
  margin: to-rem(24) 0 to-rem(91) 0;
}