
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;


.wrapper__line {
  border-bottom: 1px solid #FFFFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: to-rem(113);
  width:100%;
  z-index: 100;
}